.btnComp{
    background-color: red;
    padding: 16px 61px 16px 61px;
    border-radius: 10%;
}
.imagen{
    position: relative;
}
.textoSlide{
    position: absolute;
    top:50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
}


/*------Media queries*/
@media(max-width:800px){
    .text-start{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    footer .text-end span, .iconos{
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}
